<p><b>Here are your Movies, <%= current_user.username %>!</b></p>

<ol>
 <% @movies.each_with_index do |movie, i| %>
  <li>
   <p><b><%= 1 +i %>. <a href="/movies/<%= movie.id%>"><%= movie.title %></a></b></p>
   <p><b>Genre:</b> <%= movie.genre %></p>
   <p><b>Released:</b> <%= movie.release_date %></p>
   <p><b>Description:</b> <%= movie.description %></p>
   <p><b>You Rated It:</b> <%= movie.rating %></p>
   <p>Added <%= movie.created_at %></p><br>
  <% end %>
 </li>
</ol><br>


<p><a href='/logout'>Log Out</a></p>
