<p>Here are your Movies, <%= current_user.username %>!</p>

<ol>
 <% @movies.each do |movie| %>
  <li>
    <p><%= movie.title %></p>
    <p><%= movie.genre %></p>
    <p><%= movie.release_date %></p>
    <p><%= movie.description %></p>
    <p><%= movie.rating %></p>
  </li>
 <% end %>
</ol>
