<p><b>Here are your Movies, <%= current_user.username %>!</b></p>

 <% @movies.each_with_index do |movie, i| %>
  <li>
   <p><b><%= 1 +i %> 🎬 <a href="/movies/<%= movie.id%>"><%= movie.title %></a></b></p>
   <p><b>Genre:</b> <%= movie.genre %></p>
   <p><b>Released:</b> <%= movie.release_date %></p>
   <p><b>Description:</b> <%= movie.description %></p>
   <p><b>You Rated It:</b> <%= movie.rating %> stars</p>
   <p>Added <%= movie.created_at.strftime("%b %d, %Y %I:%M %p") %></p><br><br>
  <% end %>
</li><br>


<p><a href='/movies/new'>Add A New Movie</a></p>
<p><a href='/logout'>Log Out</a></p>
