<p><b>Title: </b><%= @movie.title %></a></p>
<p><b>Genre:</b> <%= @movie.categories.each do |t| puts t.name  %></p>
<p><b>Released in</b> <%= @movie.release_date %></p>
<p><b>Description:</b> <%= @movie.description %></p>
<p><b>You Rated It:</b> <%= @movie.rating %> stars</p>

<p><a href="/movies/<%=@movie.id%>/edit">Edit This Movie</p>
<p><a href="/movies/<%=@movie.id%>/delete">Delete This Movie</p>
<p><a href="/movies">Back To Your Movies</p>
